body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: url("https://images.unsplash.com/photo-1447433589675-4aaa569f3e05?ixlib=rb-0.3.5&s=4222852e25e0f57d9485f7889957e99a&auto=format&fit=crop&w=2000&q=80");
  background-size: cover;
  background: #ccc;
  background-position: 0 50%;
  background: #DEB493;
}
.background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
}

.outer-div,
.inner-div {
  height: 500px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}

.outer-div {
  perspective: 900px;
  perspective-origin: 50% calc(50% - 18em);
}

.inner-div {
  margin: 0 auto;
  border-radius: 5px;
  font-weight: 400;
  color: #071011;
  font-size: 1rem;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
  transform-style: preserve-3d;
  /*&:hover .front__face-photo,
  &:hover .front__footer {
    opacity: 1;
  }*/
}
.inner-div:hover .social-icon {
  opacity: 1;
  top: 0;
}

.outer-div:hover .inner-div {
  transform: rotateY(180deg);
}

.front,
.back {
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  cursor: pointer;
  height: 100%;
  background: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.front__bkg-photo {
  position: relative;
  height: 500px;
  width: 300px;
  background: url("./artes.svg") no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.front__bkg-photo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.front__face-photo {
  position: relative;
  top: -350px;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #fff;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/156905/profile/profile-512.jpg?1530296477") no-repeat;
  background-size: contain;
  overflow: hidden;
  /* backface-visibility: hidden;
   transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
   z-index: 3;*/
}

.front__text {
  position: relative;
  top: -350px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-size: 18px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.front__text .front__text-header {
  font-weight: 700;
  font-family: "Playwrite HR Lijeva";
  color: #0034a5;
  /* text-transform: uppercase; */
  font-size: 18px;
}
.back__text {
  position: absolute;
  z-index: 1001;
  top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Playwrite HR Lijeva";
  font-size: 18px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}
.back__text .back__text-header {
  font-weight: 700;
  font-family: "Playball";
  color: #0034a5;
  /* text-transform: uppercase; */
  font-size: 20px;
}
.front__text .front__text-para {
  position: relative;
  top: -100px;
  color: #16c9ff;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.front__text .front-icons {
  position: relative;
  top: 0;
  font-size: 14px;
  margin-right: 6px;
  color: gray;
}
.front__text .front__text-hover {
  position: relative;
  top: 295px;
  left: 200px;
  font-size: 10px;
  color: tomato;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: 700;
  letter-spacing: 0.4px;
  border: 2px solid tomato;
  padding: 8px 15px;
  border-radius: 30px;
  background: rgba(255, 99, 71, 0.699);
  color: #fff;

  animation: pulse-brilho .7s infinite;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: pulse-brilho;
  display: table;
  animation-direction: alternate;
  animation-name: pulse-brilho;
}
@keyframes pulse-brilho{0%{transform:scale(1);filter:brightness(100%)}to{transform:scale(1.1);filter:brightness(120%)}}


.back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #68bad1;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-media-wrapper {
  position: absolute;
  top: 200px;
  font-size: 42px;
  z-index: 1000;
}
.social-media-wrapper .social-icon {
  position: relative;
  top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);
}
.social-media-wrapper .social-icon:nth-child(1) {
  transition-delay: 0.6s;
}
.social-media-wrapper .social-icon:nth-child(2) {
  transition-delay: 0.7s;
}
.social-media-wrapper .social-icon:nth-child(3) {
  transition-delay: 0.8s;
}
.social-media-wrapper .social-icon:nth-child(4) {
  transition-delay: 0.9s;
}
.fab {
  position: relative;
  top: 0;
  left: 0;
  transition: all 200ms ease-in-out;
}

.fab:hover {
  top: -5px;
}
.fa {
  position: relative;
  top: 0;
  left: 0;
  transition: all 200ms ease-in-out;
}

.fa:hover {
  top: -5px;
}







.page {
  position: absolute;
  top: 240px;
  width: 10vw;
  height: 10vh;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 80px;
}

.cls-1 {
  fill: #8dcbdc;
}

.cls-2 {
  fill: #fff;
}

.cls-3 {
  fill: #68bad1;
}

.cls-4 {
  fill: #00559c;
}

.cls-5 {
  fill: #3aa5c2;
}

.cls-6 {
  fill: #2a8bbe;
}

svg {
  display: block;
  width: 350px;
  height: 350px;
  fill: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
svg.base {
  transform: translate(-50%, -50%) perspective(200px) translateZ(-200px);
}
svg.cover {
  transform: translate(-50%, -50%) perspective(200px) translateZ(75px);
}
svg .fish {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
  transform-origin: 295px 295px;
  animation-name: fishAll;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
svg .fish2 {
  transform-origin: 235px 235px;
  animation-name: fishAll2;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
svg .fish2 .fish-body {
  animation-direction: alternate-reverse;
}
svg .fish2 .fish-tail {
  animation-direction: alternate;
}
svg .fish-body {
  fill: #e74e19;
  transform-origin: 327.66px 264.13px;
  animation-name: fishSwim;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
svg .fish-tail {
  fill: #dc4817;
  transform-origin: 327.66px 264.13px;
  animation-name: fishSwim;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
svg:nth-child(1) {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
  transform: translate(-50%, -50%) perspective(200px) translateZ(-160px);
  transition: transform 0.1s;
}
svg:nth-child(2) {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
  transform: translate(-50%, -50%) perspective(200px) translateZ(-120px);
  transition: transform 0.1s;
}
svg:nth-child(3) {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
  transform: translate(-50%, -50%) perspective(200px) translateZ(-80px);
  transition: transform 0.1s;
}
svg:nth-child(4) {
  /* filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5)); */
  transform: translate(-50%, -50%) perspective(200px) translateZ(-40px);
  transition: transform 0.1s;
}
svg:nth-child(5) {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
  transform: translate(-50%, -50%) perspective(200px) translateZ(0px);
  transition: transform 0.1s;
}

@keyframes fishSwim {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes fishAll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes fishAll2 {
  0% {
    transform: rotate(115deg);
  }
  100% {
    transform: rotate(-475deg);
  }
}